.select {
    border-color: cadetblue;
    border-radius: var(--main-border-radius);
    padding: 0.50rem;
    color: black;
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: initial;
    width: 45%;
    height: 40px;
}
.heading {
    padding: 2rem;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.light {
    font-weight: 100;
}
.button {
    border: none;
    border-radius: var(--main-border-radius);
    margin-top: 10px;
    padding: 0.65rem;
    background-image: var(--gradient);
    color: var(--main-text-color);
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: initial;
    width:  fit-content;
    height: 38px;

}

.button:hover {
    color: var(--main-text-color);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}